<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="{{ url_for('homepage') }}">
                    <img src="{{ url_for('static', path='logo.png' )}}" alt="logo.png" width="60px" height="30px">
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="{{ url_for('file.upload') }}">Upload file</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="{{ url_for('file.list') }}">Danh sách file</a>
            </li>
        </ul>
        <div class="ms-auto">
          {% if request.state.current_user %}
            <span class="me-2 text-white">Xin chào, <b>{{ request.state.current_user.email }}</b></span>
            <a class="btn btn-outline-danger btn-sm" href="{{ url_for('auth.logout') }}">Đăng xuất</a>
          {% else %}
            <a class="btn btn-outline-primary btn-sm" href="{{ url_for('auth.login') }}">Đăng nhập</a>
          {% endif %}
        </div>
    </div>
</nav>
